---
import { Image } from "astro:assets";
import MainLayout from "../layout/MainLayout.astro";
import { red, blue } from "../stateType";
---

<MainLayout>
  <ul class="space-y-2 flex-1 flex flex-col">
    {
      red.map((name, i) => (
        <li class="w-3/4">
          <button
            data-color="red"
            data-index={String(i)}
            class="w-full cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:-translate-x-16 px-5 py-2 bg-red-500 text-white font-semibold text-4xl min-w-60 text-end"
          >
            {name}
          </button>
        </li>
      ))
    }
  </ul>
  <ul class="space-y-2 flex-1 flex flex-col items-end">
    {
      blue.map((name, i) => (
        <li class="w-3/4">
          <button
            data-color="blue"
            data-index={String(i)}
            class="w-full cursor-pointer transition-all disabled:cursor-not-allowed disabled:bg-gray-500 disabled:translate-x-16 px-5 py-2 bg-blue-500 text-white font-semibold text-4xl min-w-60 text-start"
          >
            {name}
          </button>
        </li>
      ))
    }
  </ul>
  <div
    aria-hidden="true"
    id="call"
    class="aria-hidden:hidden absolute top-0 left-0 right-0 bottom-0 flex justify-center items-center bg-gray-500/45"
  >
    <Image src="/telefono.jpg" alt="telefono" width={350} height={300} />
  </div>
  <div
    aria-hidden="true"
    id="challenge"
    class="aria-hidden:hidden absolute top-0 left-0 right-0 bottom-0 flex justify-center items-center bg-gray-500/45"
  >
    <h2 class="text-9xl text-red-700">SFIDA</h2>
  </div>
</MainLayout>
<script>
  import { updateUI } from "../utils/domHelpers";

  const protocol = location.protocol === "https:" ? "wss:" : "ws:";
  const ws = new WebSocket(`${protocol}//${location.host}/ws`);

  ws.onmessage = (event) => {
    updateUI(JSON.parse(event.data));
  };

  ws.onclose = () => {
    setTimeout(() => location.reload(), 2000);
  };
</script>
